[submodule "src/third_party/termcolor"]
	path = src/third_party/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "src/tests/gtest"]
	path = src/tests/gtest
	url = https://github.com/google/googletest.git
